.principal{
    display: grid!important;
    grid-template-columns: auto !important;
    padding: 1% !important;
}

.arriba{
    display: grid !important;
    grid-template-columns: 50% 30% auto!important;
    padding: 1% !important;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.abajo{
    display: grid !important;
    grid-template-columns: auto !important;
    padding: 1% !important;
}